/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../fonts/montserrat-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body {
	font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300 !important;
}

h1 {
	margin-bottom: 3rem;
}

a {
	color: $link;

	&:visited {
    	color: $visited;
    }

	&:hover {
    	color: $hover;
    }
    
}

img[src$=".svg"] { 
	width: 100%; 
	height: auto; 
}

.entry-content {
	a {
		text-decoration: underline;
	}

	.btn {
		text-decoration: none;
	}
}

.btn,
.wpcf7 input[type="submit"],
.entry-content input[type=submit] {
	text-transform: uppercase;
	border-radius: 0;
	font-family: $accent-font-family;
	font-size: 80%;
	font-weight: 700;

	&:active,
	&:focus {
		background-color: $brand-yellow-hover !important;
		border-color: $brand-yellow-hover !important;
	}
}

.btn-primary,
.btn-secondary,
.wpcf7 input[type="submit"],
.entry-content input[type=submit] {
	color: $brand-black;
	background-color: $brand-yellow;
	border-color: $brand-yellow;
	
	&:active,
	&:focus,
	&:hover {
	    color: $brand-black;
	    background-color: $brand-yellow-hover;
	    border-color: $brand-yellow-hover; 
	}
}

.wpcf7 input[type="submit"],
.entry-content input[type=submit] {
	width: auto;
}

.btn-super {
	font-size: 1.65rem;
}

.btn-contrast {
	border: solid 1px $brand-black;

	&:hover {
		border-color: $brand-black;
	}
}

.form-control:focus {
	border-color: $brand-yellow;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(254, 227, 0, 0.5);
}

/*Responsive Videos*/
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
}

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

/*Header*/
.navbar {
	font-family: $accent-font-family;
	padding: 1rem 0 1.5rem 0;

	.navbar-brand {
		@include media-breakpoint-down(xs) {
			width: 70%;
		}
		@include media-breakpoint-up(md) {
			width: 300px; 
			height: 45px;
			margin-right: 2rem;
		}
	}

	a {

		&:hover {
			text-decoration: underline;
		}
	}

	.nav-link {
		color: $brand-black !important;
		font-weight: 600;
	}

	.trp-language-switcher-container {
		background-color: $white;
		border-color: $white;
	}

	.megamenu {
		ul {
			list-style: none;
			padding-left: 0;
		}

		/* Style the megamenu content (hidden by default) */
		.megamenu-content {
			display: none;
			position: absolute;
			top: 3rem;
			left: -100rem;
			z-index: 2;
			padding: 1rem;
			width: 100%;
			border: solid 1px $brand-gray;
			background-color: $brand-black;
	
			@include media-breakpoint-up(md) {
				left: 0;
			}

			/* Style the links inside the megamenu */
			.menu-item-has-children {

				a {
					display: block;
					margin: 0 0 1rem 0;
					text-decoration: none;
					font-weight: 700;
					line-height: 100%;
					color: $brand-yellow;

					&:active,
					&:focus,
					&:hover,
					&:visited {
						text-decoration: underline;
						color: $brand-yellow;
					}

					&:hover {
						color: $brand-gray;
					}
				}

				.sub-menu {
					a {
						display: block;
						margin: 0 0 1rem 0;
						text-decoration: none;
						font-weight: normal;
						line-height: 100%;						
						color: $white;

						&:active,
						&:focus,
						&:hover,
						&:visited {
							text-decoration: underline;
						}

						&:hover {
							color: $brand-gray;
						}
					}
				}
			}
		}

		/* Show the megamenu when the user moves the mouse over the megamenu link */
		&:hover .megamenu-content {
			display: block;
		}

		.megamenu-background-tint {
			display: none;
			position: absolute;
			z-index: 1;
			top: 4rem;
			left: -40rem;
			width: 200rem;
			height: 200rem;
			background-color: rgba(0,0,0,0.4);	
		}

		&:hover .megamenu-background-tint {
			display: block;
		}

	}
}

#translate-menu {
	padding: 0;
}

#search-icon { 
	padding: 0.25rem 0 0 0;
}

#search {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;

    #searchform {
    	margin: 1.5rem 0 1.5rem 1.5rem;
    }
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search-cancel-container {
	text-align: center;
	@include media-breakpoint-up(md) { 
		padding: 2rem 0;
	}

	#search-cancel {
		color: $white;
		font-size: 80%;
		text-transform: uppercase;
	}
}

#breadcrumbs-container {
	background-color: $background-contrast;
	padding: 0.5rem 0;

	p {
		margin: 0;

		.breadcrumb_last {
			font-weight: bold;
		}

		a {
			color: $brand-black;

			&:hover {
		    	color: $brand-gray;
		    }

		    &:visited {
		    	color: $brand-black;
		    }
		}
	}

}

#full-width-page-wrapper {
	padding: 0;
}

.secondary-cta {
	padding: 3rem;
	background: $brand-black;
	text-align: center;
	color: $white;

	span {
		margin: 0 3rem 0 0;
		@include media-breakpoint-down(sm) {
			margin: 0 0 1rem 0;
			display: block;
		}
	}
}

/*Home Page Template*/
.jumbotron {
	margin: 0 0 3rem 0;

	@include media-breakpoint-up(md) {
		padding-right: 10%;
		padding-left: 40%;
	}

	h1, h2 {
		margin: 0 0 2rem 0;
		color: $brand-yellow;
	}
	
	@include media-breakpoint-up(md) {

		h1 {
			font-size: 2.9rem;
		}
	}

	h2 {
		font-size: 1.5rem;
		color: $white;
	}
}

#top-solutions {
	margin: 0 0 3rem 0;

	.solution {
		padding: 0 1rem 1rem 1rem;
		margin: 1rem 0 0 0;
		border: solid 1px $background-contrast;
		border-width: 0 0.25px 0 0.25px;

		&:first-of-type {
			border-left: solid 1px $background-contrast;

			@include media-breakpoint-down(sm) {
				border: none;
			}
		}

		&:last-of-type {
			border-right: solid 1px $background-contrast;

			@include media-breakpoint-down(sm) {
				border: none;
			}
		}

		@include media-breakpoint-down(sm) {
			border: none;
		}
	}

	h3 {
		width: 100%;
	}

	img {
		width: 50%;

		@include media-breakpoint-up(md) {
			width: 100%;
		}
	}

	h4 {
		font-size: 1.5rem;

		@include media-breakpoint-up(sm) {
			height: 6rem;	
		}
	}
}

#eagle-eye-university {
	background-color: $brand-yellow;

	.col {

		padding: $mobile-container-padding;
		@include media-breakpoint-up(md) {
			padding: $universal-container-padding;
		}

		&:first {
			background-repeat: no-repeat;
			background-size: cover;
			text-align: center;
		}

		@include media-breakpoint-up(md) {
			h3#positioning {
				position: relative;
				top: 50%;
			}
		}
	}

	@include media-breakpoint-up(md) {
		text-align: left;
	}

	#cta {
		img, h3, p {
			margin-bottom: 3rem;
		}
	}
}

#eagle-eye-committment {
	padding-top: 6rem;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;

	a:hover {
		text-decoration: none;
	}

	h3 {
		color: $brand-yellow;
	}

	i {
		color: $white;
		font-size: 10rem;

		@include media-breakpoint-up(md) {
			font-size: 15rem;
		}

		&:hover {
			color: $brand-yellow;
		}
	}
}

/*Divisions Template*/
.landing-hero {
	display: block;
	height: 300px;

	.landing-hero-headline {
		padding: $mobile-container-padding;
		@include media-breakpoint-up(md) {
			padding: $universal-container-padding;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	 	background: rgba(240, 240, 240, 0.85);
	 	width: 100%;

	 		h1 {
	 			margin: auto 0;
	 			font-weight: 500 !important;
	 		}
	}	
}

.divisions-narrative {
	padding: 1rem 0;
	@include media-breakpoint-up(md) {
		padding: 3rem 0;
	}

	@include media-breakpoint-up(xl) {
		#divisions-video {
			padding: 0 8rem;
		}
	}
}

#division-products {
	padding-top: 1rem;
	@include media-breakpoint-up(md) {
		padding: $universal-container-padding;
	}
	background-color: $background-contrast;
	text-align: center;

	h2 {
		margin-bottom: 3rem;
	}

	a {
		display: block;
		padding: 1rem;
		margin: 0 0 2rem 0;
		width: 100%;
		border: solid 1px $brand-gray;
		background-color: $white;
		text-align: left;
		text-decoration: none;

		h3 {
			margin-bottom: 0;
			color: $brand-black;

			&:hover {
				color: $brand-gray;
		    	text-decoration: underline;
		    }

		    &:visited {
		    	color: $brand-gray;
		    }
		}

		.accent {
			padding: 0 1rem 0 0;
			font-size: 2.5rem;
			color: $background-contrast;

			&:hover {
		    	text-decoration: none;
		    }
		}
	}
}

#division-parameters-insights {
	padding: $mobile-container-padding;
	@include media-breakpoint-up(md) {
		padding: $universal-container-padding;
	}
}

.divisions-parameters {
	padding-top: 2rem;
	@include media-breakpoint-up(md) {
		padding-top: 0;
	}

	h2 {
		margin: 0 0 2rem 0;
		text-align: center;
	}
}

.division-parameter-single {
	padding: 0 0 2rem 0;
	border-bottom: solid 1px $brand-gray;

	.col-md {
		img {
			text-align: center;
		}
	}
}

.divisions-insights {
	padding: 3rem 0 0 0;

	h2 {
		margin: 0 0 2rem 0;
	}

	#division-whats-new,
	#division-featured-cases {
		h3 {
			a {
				color: $brand-black;

				&:hover {
			    	color: $brand-gray;
			    }

			    &:visited {
			    	color: $brand-black;
			    }
			}
		}

		p {
			margin: 0 0 2rem 0;
			padding: 0 0 2rem 0;
			border-bottom: solid 1px $brand-gray;

			a {
				text-decoration: underline;
			}
		}
	}

	#division-whats-new {
		margin: 0 0 5rem 0;

		@include media-breakpoint-up(md) {
			margin: 0;
		}
	}
}

.text-cta {
	text-transform: uppercase;
}

.text-cta-accent {
	margin: 0 0 0 0.5rem;
	font-size: 130%;
}

/*Category Template*/
.category-introduction {
	background: $brand-yellow;

	.category-narrative {
		padding: $mobile-container-padding;
		@include media-breakpoint-up(md) {
			padding: $universal-container-padding;
		}
		background: $brand-yellow;
	}

	.category-product-accent {
		padding: 0;
	}
}

#category-products,
#category-general {
	padding-top: 3rem;
	padding-bottom: 3rem;

	div {

		a {
			margin: 0 0 1rem 0;
			padding: 3rem;
			background: $background-contrast;
			text-align: center;
			color: $brand-black;

			&:hover {
		    	color: $brand-gray;
		    }

		    &:visited {
		    	color: $brand-black;
		    }

			@include media-breakpoint-up(lg) {
				h2 {
					margin: 0 0 1rem 0;
				}
			}

			img {
				margin: 0 0 3rem 0;
			}

			p {
				font-size: 120%;
				margin: 0;
			}

		}
	}
}

#category-general {
	padding-top: 0;
}

/*Products Template*/
#product-thumbnails {
	margin: 1rem 0 3rem 0;

	div {
		img {
			border: solid 1px $background-contrast;
		}
	}
}

#gallery {

	.thumb {
		margin-bottom: 1rem;
	}

}

.carousel-inner {
	text-align: center;
}

#product-narrative {
	padding: $mobile-container-padding;
	@include media-breakpoint-up(md) {
		padding: $universal-container-padding;
	}
	padding-top: 0;

	h2 {
		margin-top: 3rem;
	}

	.btn {
		margin-top: 1.5rem;
	}
}

#specifications-tabs {
	margin: 0 0 3rem 0;
	border-bottom: solid 1px $brand-black;
}

.nav-tabs {
	margin: 3rem auto 0 auto;
	border-color: $brand-black;
	border-bottom: 0;

	@include media-breakpoint-down(md) {
		min-width: 100%;
     	display: inline-grid;
     	text-align: center;
	}

	li:first-child {
		border-left: solid 1px $brand-black;

		@include media-breakpoint-down(md) {
			border-left: none;
		}
	}

	.nav-link {
		@include media-breakpoint-down(md) {
			border-left: 1px solid $brand-black;

			//IE 10+ specific
	    	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	    		width: 80vw;
	    	}

		}

		border: solid 1px $brand-black;
		border-width: 1px 1px 0 0;
		border-top-left-radius: 0;
    	border-top-right-radius: 0;
    	padding-right: 3rem;
    	padding-left: 3rem;
    	color: $brand-black;

		&:hover {
			background-color: $brand-gray;
			border: 1px solid $brand-gray;
			color: $brand-black;
		}

		&.active {
			background-color: $brand-black;
			border: 1px solid $brand-black;
			color: $white;
		}
	}
}

.tab-content {
	width: 100%;
	padding-bottom: 3rem;

	a {
			
		h5 {
			margin-bottom: 1rem;
			color: $brand-black;

			&:hover {
	    		text-decoration: underline;
	    		color: $brand-gray;
		    }

		    &:visited {
		    	color: $brand-black;
		    }
		}
	
	}

	.product-downloads {

		h4 {
			white-space: nowrap;
		}			

		ul {
			list-style-type: none;
			margin: 0 0 1rem 0;
			padding: 0;
			border
				
			a {
				color: $link;
			}
		}
	}
}

#product-videos,
#related-products {
	text-align: center;
}

#product-videos {
	margin: 0 0 3rem 0;
}

#related-products {
	background-color: $background-contrast;
	padding: 1rem;
	@include media-breakpoint-up(md) {
		padding: $universal-container-padding;
	}

	a {
			
		h5 {
			margin-bottom: 1rem;
			color: $brand-black;
			@include media-breakpoint-up(md) {
				min-height: 10rem;
			}

			@include media-breakpoint-up(lg) {
				min-height: 6rem;	
			}

			&:hover {
	    		text-decoration: underline;
	    		color: $brand-gray;
		    }

		    &:visited {
		    	color: $brand-black;
		    }
		}
	
	}
}

.relevant-training,
.related-product {
	padding: 1.5rem;
	background-color: $white;
	width: 100%;

	img {
		margin: 0 0 1rem 0;
	}

	p {
		margin: 0;
	}
}

.relevant-training {
	border: solid 1px $brand-black;
}

/*Video List Template*/
.video-list {
	h2 {
		margin: 0 0 2rem 0;
	}

	p {
		margin: 1rem 0 2rem 0;
	}
}

/*Class Template*/
#class-narrative {
	padding: $mobile-container-padding;
	@include media-breakpoint-up(md) {
		padding: $universal-container-padding;
	}

	a {
		text-decoration: underline;
	}
}

/*Newsletter Signup*/
#newsletter-signup {
	padding: $mobile-container-padding;
	@include media-breakpoint-up(md) {
		padding: $universal-container-padding;
	}
	border-top: solid 1px $brand-gray;
	text-align: center;

	form {
		display: block;
		width: auto;
		margin: 0 0 1rem 0;

		#email-address {
			display: inline-block;
			width: 100%;
			margin: 0.5rem 0 0 0;

			@include media-breakpoint-up(sm) {
				width: 300px;
			}

		}

		.wpcf7-not-valid-tip {
			font-size: 1rem;
		}

	}

	a {
		text-decoration: underline;
	}
}

/*Footer*/
#wrapper-footer {
	background-color: $brand-black;
	
	h5,
	p {
		color: $white;
	}

	a {
		color: $brand-gray;
	}

	ul {
	 	padding-left: 0;
  		list-style: none;
	}

	#eeps-footer-navigation {
		@include media-breakpoint-down(md) {
			margin-bottom: 3rem;
		}

		a {
			font-weight: 700;
		}

		.sub-menu {
			a {
				font-weight: 400;			
			}
		}

		.btn-primary {
			color: $brand-black;
			font-weight: 700;
		}
	}

	#eeps-channels {  
		a {
			color: $brand-yellow;
			font-weight: bold;
			font-size: 120%;

			&:hover {
				color: $brand-yellow-hover;
			}

			&:visited {
				color: $visited;
			}
		}

		#eeps-social {
			margin: 0.5rem 0 0 0;

			@include media-breakpoint-up(lg) {
				margin-bottom: 1.5rem;
			}

			li {
				display: inline-block;
				margin: 0 0.5rem 0.5rem 0;

				svg {
					path {
						fill: $brand-yellow;
						
						&:hover {
							fill: $brand-yellow-hover;
						}
					}
				}
			}

		}

		#eeps-iso {
			text-align: right;

			@include media-breakpoint-up(lg) {
				text-align: left;
			}

			img {
				width: 170px;
			}
		}
	}

	.site-info {
		margin-top: 3rem;
		border-top: solid 1px $brand-gray;

		p {
			color: $brand-gray;
		}

		#legal {
			@include media-breakpoint-down(md) {
				text-align: left;
			}

			text-align: right;

			li {
				@include media-breakpoint-down(md) {
					margin: 0 1.5rem 0 0;
				}

				display: inline;
				margin: 0 0 0 1.5rem;
			}

		}
	}
}