// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


// Grid containers
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1350px
) !default;

//
// Color system
//

$primary: #7C008C;

$brand-yellow: #FEE300;
$brand-yellow-hover: #FFCC00;
$brand-black: #413f42;
$brand-black-hover: #616161;
$brand-gray: #999;
$background-contrast: #F0F0F0;
$black: #000;
$white: #FFF;
$link: #336;
$hover: #6699CC;
$visited: $brand-black;
$pagination-color: $brand-black;
$pagination-active-color: $brand-black;
$pagination-active-bg: $brand-yellow;

//Carousel Prev and Next Arrow
$carousel-control-color: #F09643;

//Pagination outline color
$component-active-bg: $brand-gray;

$mobile-container-padding: 1rem 2rem;
$universal-container-padding: 3rem 6rem;

$body-font-family: 'Roboto', sans-serif;
$accent-font-family: 'Montserrat', sans-serif;